/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: "Poppins", sans-serif;
}

/* banner start */
.banner {
	margin: 50px 0 130px 0;
}
.container {
	background-color: #161616;
	color: white;
	margin: 0 auto;
	width: 1321px;
	height: 646px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	border-radius: 30px;
}
.container .banner_text {
	width: 531px;
	height: 424px;
	margin-top: 111px;
}
.container .banner_text h2 {
	font-size: 40px;
}
.container .banner_text p {
	font-size: 14px;
	margin-bottom: 50px;
}
.container .banner_text a {
	position: absolute;
	text-decoration: none;
	background-color: #dd0000;
	color: white;
	padding: 16px 25px;
	border-radius: 5px;
	transition: all 0.4s ease-in;
}
.container .banner_text a:hover {
	transform: scale(1.1);
	border: 1px solid #dd0000;
	background-color: transparent;
}
.container .banner_text a span {
	margin-left: 10px;
}
.container .banner_img {
	width: 581px;
	height: 613px;
}
.container .banner_img img {
	width: 100%;
}
/* banner end */
/* blog start */
.blog {
	margin-bottom: 130px;
}
.blog .blog_content {
	display: flex;
}
.blog .blog_menu {
	width: 312px;
	height: 312px;
	background-color: #161616;
	border-radius: 10px;
	margin-left: 290px;
}
.blog .blog_menu ul li {
	border-radius: 10px;
	background-color: white;
	margin: 35px;
	padding: 17px 40px;
	text-align: center;
	list-style: none;
	font-weight: 500;
}
.blog .blog_menu ul li a {
	text-decoration: none;
	color: #161616;
}
.blog .blog_items {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	row-gap: 24px;
}
.blog .blog_items .blog_card {
	border-radius: 10px;
	width: 312px;
	height: 362px;
	border: 1px solid #e8e8e8;
	margin-left: 24px;
}
.blog .blog_items .blog_card .blog_card_img {
	width: 100%;
	margin-bottom: 20px;
}
.blog .blog_items .blog_card .blog_card_contents {
	margin-left: 20px;
}
.blog .blog_items .blog_card .blog_card_contents a {
	text-decoration: none;
	color: #161616;
	border: 1px solid #161616;
	border-radius: 5px;
	padding: 4px 10px;
}
.blog .blog_items .blog_card .blog_card_contents h5 {
	margin: 15px 0 20px 0;
}
.blog .blog_items .blog_card .blog_card_contents .icons {
	margin-right: 30px;
}
.blog .blog_items .blog_card .blog_card_contents .icons i {
	margin-right: 10px;
}
/* tab screen button start */
.blog .blog_content .tab_screen_btn {
	text-decoration: none;
	margin: 50px auto 0;
	width: 15%;
	background-color: #dd0000;
	padding: 16px 15px;
	border-radius: 5px;
}
.blog .blog_content .tab_screen_btn a {
	text-align: center;
	text-decoration: none;
	padding: 16px 25px;
	color: white;
}
/* tab screen button end  */
/*----------------------
 Group page css start 
 ----------------------*/

.blog .blog_items .group_card {
	width: 312px;
	height: 410px;
}
.group {
	padding: 30px;
	color: #161616;
}
.group h3 {
	text-align: center;
}
.group_list {
	margin-top: 20px;
	display: flex;
	align-items: center;
}
.group_list .team_icon img {
	border-radius: 5%;
	margin-right: 20px;
}
/*----------------------
 Group page css end 
 ----------------------*/

/*----------------------
  Match Page CSS start  
 ----------------------*/
.blog .blog_items .match_card {
	width: 312px;
	height: 242px;
}
#team_img {
	padding: 53px 30px 0;
	display: flex;
	justify-content: space-around;
}
#team_img h5 {
	margin: auto 0;
}
.match_date {
	text-align: center;
	margin-top: 20px;
}
.match_date h5 {
	font-size: 20px;
}
.match_date p {
	color: #4d4d4d;
	margin-top: 10px;
}
/*----------------------
  Match Page CSS end  
 ----------------------*/

/* blog end */
/* footer start */
footer {
	text-align: center;
	background-color: #161616;
}
footer .footer_title h4 {
	color: white;
	font-size: 40px;
	font-weight: 600;
	padding: 120px 0 50px 0;
}
footer hr {
	width: 1320px;
	margin: 0 auto;
	color: #ffffff1a;
	border: 1px solid #ffffff1a;
}
footer .footer_links {
	padding: 50px 0 140px 0;
}
footer .footer_links ul li {
	list-style: none;
	display: inline-block;
	margin-right: 80px;
}
footer .footer_links ul li:last-child {
	margin-right: 0;
}
footer .footer_links ul li a {
	text-decoration: none;
	color: white;
}
footer .social_links a {
	color: white;
}
footer .social_links i {
	padding: 0 20px 20px;
	font-size: 30px;
}
/* footer end */

/* mobile device media query start */

@media only screen and (max-width: 767px) {
	/* banner start */
	.banner {
		margin: 25px 0;
	}
	.container {
		flex-direction: column;
		width: 100%;
		height: 100%;
		margin: 0;
	}
	.container .banner_text {
		width: 90%;
		height: 90%;
		margin-top: 20px;
		text-align: center;
	}
	.container .banner_text a {
		position: relative;
	}
	.container .banner_img {
		width: 60%;
		height: 60%;
		margin: 130px auto 0;
	}
	/* banner end */
	/* blog start */
	.blog {
		margin: 25px 0;
	}
	.blog .blog_content {
		flex-direction: column;
	}
	.blog .blog_menu {
		width: 90%;
		height: 90%;
		margin-left: 0;
		margin: 0 auto;
		background-color: white;
	}
	.blog .blog_menu ul li {
		margin: 16px auto;
	}
	.blog .blog_menu ul li a {
		border: 1px solid #e8e8e8;
		padding: 9px 18px;
		border-radius: 10px;
	}
	.blog .blog_items {
		grid-template-columns: repeat(1, 1fr);
		justify-content: center;
	}
	.blog .blog_items .blog_card {
		margin: 0 auto;
	}
	.blog .blog_content .tab_screen_btn {
		display: none;
	}
	/* blog end */
	/* footer start */
	footer hr {
		width: 80%;
	}
	footer .footer_links {
		padding: 50px 20px 40px;
	}
	footer .footer_links ul li {
		margin: 0;
		display: block;
		padding: 20px 30px;
	}
	/* footer end */
}
/* mobile device media query end */

/* tablet screen media query start */
@media only screen and (min-width: 768px) and (max-width: 991px) {
	/* banner start */
	.container {
		width: 90%;
		height: 90%;
		margin: 0 auto;
	}
	.container .banner_text {
		width: 50%;
		margin-top: 50px;
		margin-left: 76px;
		margin-bottom: 60px;
	}
	.container .banner_img {
		width: 50%;
		height: 100%;
		margin-top: 115px;
	}
	/* banner end */

	/* blog start */
	.blog .blog_content {
		flex-direction: column;
	}
	.blog .blog_menu {
		width: 90%;
		height: 90%;
		margin: 0 auto;
		background-color: white;
	}
	.blog .blog_menu ul {
		display: flex;
		justify-content: center;
		margin: 50px 0 30px 0;
	}
	.blog .blog_menu ul li {
		border: 1px solid #4d4d4d;
	}
	.blog .blog_items {
		grid-template-columns: repeat(2, 1fr);
		justify-content: center;
		margin: 0 auto;
	}
	.blog .blog_content .blog_items .tab_view_none {
		display: none;
	}
	/* blog end */

	/* footer start */
	footer hr {
		width: 80%;
	}
	footer .footer_links {
		padding: 30px 105px 55px 95px;
	}
	footer .footer_links ul li {
		margin: 0;
		padding: 20px 30px;
	}
	/* footer end */
}
/* tablet screen media query emd  */

/* laptop screen media query start */
@media only screen and (min-width: 992px) and (max-width: 1920px) {
	.blog .blog_content .tab_screen_btn {
		display: none;
	}
}

/* laptop screen media query end */
